# Arquivo de segredos
.env

# Arquivos temporários do Python
__pycache__/
*.pyc

# Pasta do ambiente virtual
venv/
*.venv/

# Arquivos de áudio temporários
*.ogg
*.m4a

# Arquivos do SQLite (se estivesse usando)
*.db
*.sqlite3

# Docker
.dockerignore